<a href="https://colab.research.google.com/github/IsaacMrSmile/SemilleroDataScienciePeru/blob/main/Copia_de_Titanic_Machine_Learning_Project_Narayan_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The goal of this project is to predict whether the passenger survived based on the attributes such as age, gender, where they embarked, and so on. The project is taken from the Kaggle competition and the dataset is downloaded from the Kaggle platform

The attributes in the datset are given below along with the explanations:

    Survived: that's the target, 0 means the passenger did not survive, while 1 means he/she survived.

    Pclass: passenger class.

    Name, Sex, Age: self-explanatory

    SibSp: how many siblings & spouses of the passenger aboard the Titanic.

    Parch: how many children & parents of the passenger aboard the Titanic.

    Ticket: ticket id Fare: price paid (in pounds)

    Cabin: passenger's cabin number

    Embarked: where the passenger embarked the Titanic


The dataset is split into 2 parts, train.csv and test.csv for training and testing your Machine Learning models respectively.

Pandas is an open source Python package that is most widely used for data science/data analysis and machine learning tasks. It is built on top of another package named Numpy, which provides support for multi-dimensional arrays.
Numpy is the fundamental package for scientific computation in Python. here it deals with arrays, linear algebra and random number generation.

In [ ]:
import pandas as pd
import numpy as np

The OS module in Python provides functions for interacting with the operating system. OS comes under Pythonâ€™s standard utility modules. This module provides a portable way of using operating system-dependent functionality.

In [ ]:
import os

This line of code is to upload the dataset from the local machine. The dataset here uploaded is a zipped csv files

In [ ]:
from google.colab import files

In [ ]:
uploaded=files.upload()

Saving titanic.zip to titanic.zip

This line of code is extract the zipped csv files and it will be in read mode.

In [ ]:
import zipfile
import io
zf = zipfile.ZipFile(io.BytesIO(uploaded['titanic.zip']), "r")
zf.extractall()

the file 'train.csv'is loaded to a dataframe to represent it in tabular format.(the file contents will be displayed in rows and columns format). This is the training dataset

In [ ]:
train_df=pd.read_csv('train.csv')

the file 'test.csv'is loaded to a dataframe to represent it in tabular format.(the file contents will be displayed in rows and columns format). This is the testing dataset

In [ ]:
test_df=pd.read_csv('test.csv')

NameError: ignored

This line of code .head() is to display the top 5 rows of the training dataset

In [ ]:
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

This line of code .info() is used to the missing values in the columns of the training dataset.

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

.describe() is used to know the statistical descrption of the training dataset

In [ ]:
train_df.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

.head() displays the top 5 rows of the testing dataset.

In [ ]:
test_df.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

.info() is used to know the missing values of the columns in the testing dataset.

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

statistical description of the testing dataset

In [ ]:
test_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

Use the value_count() function to find the number of female passengers on-board from the training dataset. The gender of passengers can be found using the "Sex" column. 

The [1] in the train_data["Sex"].value_counts()[1] gives you the value of the second element.

In [ ]:
train_df["Sex"].value_counts()[1]

314

 we will create the pipelines for various numerical and categorical attributes, and then join them.

 Import BaseEstimator and TransformerMixin from sklearn.base to build our preprocessing pipelines.

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin

class DataFrameSelector(BaseEstimator, TransformerMixin):           #Creation of pipelines
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]

Building pipeline for numerical attributes.

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

num_pipeline = Pipeline([                                                         #Create a pipeline and save it in a variable num_pipeline
        ("select_numeric", DataFrameSelector(["Age", "SibSp", "Parch", "Fare"])),
        ("imputer", SimpleImputer(strategy="median")),
    ])

num_pipeline.fit_transform(train_df)                                              # fit the training data in this pipeline

array([[22.    ,  1.    ,  0.    ,  7.25  ],
       [38.    ,  1.    ,  0.    , 71.2833],
       [26.    ,  0.    ,  0.    ,  7.925 ],
       ...,
       [28.    ,  1.    ,  2.    , 23.45  ],
       [26.    ,  0.    ,  0.    , 30.    ],
       [32.    ,  0.    ,  0.    ,  7.75  ]])

Create an imputer for string categorical columns. The regular SimpleImputer will not work on this code so we create a class 'MosrFrequentImputer' for the imputer.

In [ ]:
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X],
                                        index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

Build the imputer for the categorical attributes. Import OneHotEncoder from sklearn.preprocessing.

save the pipeline we create for categorical attributes in a variable named cat_pipeline:

fit the training data into this pipeline.

In [ ]:
from sklearn.preprocessing import OneHotEncoder

cat_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["Pclass", "Sex", "Embarked"])),
        ("imputer", MostFrequentImputer()),
        ("cat_encoder", OneHotEncoder(sparse=False)),
    ])

cat_pipeline.fit_transform(train_df)

array([[0., 0., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 1., 0.]])

Join both numerical and categorical pipelines and save it in variable called 'preprocess_pipeline'.

In [ ]:
from sklearn.pipeline import FeatureUnion
preprocess_pipeline = FeatureUnion(transformer_list=[
        ("num_pipeline", num_pipeline),
        ("cat_pipeline", cat_pipeline),
    ])

X_train = preprocess_pipeline.fit_transform(train_df)                   # fit this training data in this pipeline and save it as X_train

y_train = train_df["Survived"]                                          # 'Survived'label from the training data will be in y_train

Now that we have prepared the data for training, we will train and SVC Classifier with this data.

Create an SVC classifier on the training set

import SVC from sklearn

svm_clf is an instance of SVC classifier and fit the training data

In [ ]:
from sklearn.svm import SVC

svm_clf = SVC(gamma="auto") 
svm_clf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

use the model created in the previous step to make predictions on the test set

Pass the data through the pipeline and store it in X_test

then predict the X_test and store it in y_pred.

In [ ]:
X_test = preprocess_pipeline.transform(test_df)
y_pred = svm_clf.predict(X_test)

Now evaluate our SVC classifier

import cross_val_score and generate this score for the model.

In [ ]:
from sklearn.model_selection import cross_val_score

svm_scores = cross_val_score(svm_clf, X_train, y_train, cv=10)
svm_scores.mean()

0.7329588014981274

In this final step, we will train a Random Forest Classifier with the data we prepared

The score we got with the SVC classifier was not that good. So now we will train and predict the dataset using a RandomForest classifier.

Import RandomForestClassifier from sklearn:

Train and evaluate the RandomForestClassfier:

In [ ]:
from sklearn.ensemble import RandomForestClassifier

forest_clf = RandomForestClassifier(n_estimators=100, random_state=42)
forest_scores = cross_val_score(forest_clf, X_train, y_train, cv=10)
forest_scores.mean()

0.8126466916354558